.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    min-height: calc(100vh - 201px);
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
